$bg-dflt: #878e92;
$white: #eaeaea;

.wrapper {
  display: flex;
  align-items: stretch;

} // .wrapper

.container {
    padding: 20px 0;
    min-height: 100vh;
    transition: all 0.3s;

} // .container

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: $bg-dflt;
  color: $white;
  transition: all 0.3s;

  .sidebar-header {
    h3 {
      text-align: center;
    }

    strong {
      display: none;
    }
  }

  a {
    color: $white;
    text-decoration: none;
  }

  ul {
    li {
      padding: 10px 0 10px 20px;

      a {
        i {
          margin-right: 10px;
        } // i

      } // a

    } // li

  } // ul

  &.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;

    .sidebar-header {
      h3 {
        display: none;
      }

      strong {
        padding: 20px 0 0 !important;
        display: block;
      }
    }

    ul {
      li {
        a {
          span {
            display: none;
          }

        } // a

      } // li
    
    } // ul

  } // .active

} // #sidebar
